.split {
    display: flex;
    height: calc(100vh - 75px);
    overflow: hidden;
    border-top: 0.5rem solid #546758;
    border-bottom: 0.5rem solid #546758;
    outline: 0.25rem solid #6C8472;
}

.gutter {
    background-color: #889E8D;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 10;
}

#split-dark .gutter {
    background-color: #2d3748;
}

.gutter.gutter-horizontal,
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.heading {
    background-color: #3C493F;
    border-bottom: 0.25rem solid #A2E3C4;
    padding-top: 0.25rem;
}

.title {
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

#nav-tab {
    background-color: #F0F7F4;
}

#html-tab,
#css-tab,
#js-tab {
    background-color: #F0F7F4;
    color: black;
    margin: -0.5rem 0;
    font-weight: 600;
}

#html-tab:hover,
#css-tab:hover,
#js-tab:hover {
    background-color: #7E8D85;
    color: #A2E3C4;
}

html {
    background-color: #3C493F;
}